
.heroContainer {
  position: relative;
  height: 100vh; 
  background-size: cover;
  background-position: center;
  margin-left: 1.5rem; 
  margin-right: 1.5rem;
}

.heroContent {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 3.5rem;
}

.heroContent:hover {
  background-color: rgba(0, 0, 0, 0.5); 
}

.heroTitle {
  font-size: 2.5rem; 
  font-size: 3.75rem; 
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
}

.heroDescription {
  font-size: 1.125rem; 
  color: white;
  margin-bottom: 2rem; 
}

.heroButton {
  background-color: white;
  color: black;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.heroButton:hover {
  background-color: #bfbfbf;
}
