.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  font-weight: bold;
  font-size: large;
}

/* left section */

.left_section {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style-type: none;
  display: flex;
  color: gray;
}

.list li {
  padding: 0 20px;
}


.right_section{
  display: flex;
  align-items: center;
  font-size:larger
}
.right_section > div {
  padding-right: 16px; 
}
.right_section input{
  padding: 8px;
  border: none;
  background-color:#eceff1;
}
.search_section{
  position: relative;

}
.search_icon{
  position: absolute; 
  right: 12%;
  top: 3.5%;
}


