/* Main container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  border-bottom: 1px solid silver;
  font-size: large;
}

.logo {
  font-weight: bold;
}

/* Left section */
.left_section {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style-type: none;
  display: flex;
  color: gray;
}

.list li {
  padding: 0 20px;
}

/* Right section */
.right_section {
  display: flex;
  align-items: center;
  font-size: x-large;
}

.right_section > div {
  padding-right: 22px;
}

.right_section input {
  padding: 12px 18px;
  border: none;
  background-color: #eceff1;
}

.search_section {
  position: relative;
}

.search_icon {
  position: absolute;
  right: 12%;
  top: 22%;
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile span {
  font-size: medium;
}


.menu_icon {
  display: none; 
  font-size: 1.5rem;
  cursor: pointer;
  color: gray; 

}


@media (max-width: 768px) {
  .list {
    display: none;
  }

  .menu_icon {
    display: block;
    font-size: 2.5rem; }

  .right_section {
    font-size: 1.5rem;
  }
}
