.container {
  margin-top: 100px;
}

h3 {
  padding-left: 92px;
}

ul {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  padding: 0px 70px;
}
.category {
  padding: 22px;
}
.category img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  h3 {
    padding: 0px 22px;
  } 
  ul {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px; 
  }
}
